/*@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
*/

/* ==========================================================================
    Global
 ========================================================================== */
.img-bordered {
    border: 3px solid #E8E8E8;
    padding:2px;
}
html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight:400;
    color:#6f6f6f; 
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight:normal;
}

ul,li,ol{
    margin:0;
    padding:0;
    list-style:none;
}

a {
    font-family: 'Ubuntu', sans-serif;
    color: #00a651;
}

a, 
a:hover,
a:focus,
input:focus {
    text-decoration:none;
    outline: none;
    color:#02743a;
}

img {
    max-width: 100%;
    height: auto;
}

section {
  min-width: 100%;
  position: relative;
  width: 100%;
  padding: 50px 0;
}

a:active,
a:focus, button:focus, .btn:focus,
input:focus, textarea:focus, select:focus, .form-control:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #00a651;
}

.title {
    line-height: 34px;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.parallax-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
 }

.parallax-section:before {
    position: absolute;
    background-color: rgba(35, 174, 121, 0.94);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 264px;
    display:block;
    content:"";
 }

.online {
    position: relative;
}

.online:after {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #38b590;
    content: "";
    top: 6px;
} 

.section {
    background-color:#fff;
    border-radius:4px;
    padding:35px 25px;
    margin-bottom:25px;
}

.section-title h4{
    color:#000;
    font-weight: 500;
}

.form-control {
    box-shadow:none;
    -webkit-box-shadow:none;
    border: 1px solid #e3e3e3;
    height:44px;
    color:#000;
}

textarea {
    resize:none;
}

.btn.btn-primary {
    font-size:18px;
    font-weight:400;
    text-transform:capitalize;
    background-color:#00a651;
    padding:10px 40px 12px;
    border:0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover {
    background-color:#0072bc;
    color:#fff;
}

.form-control::-webkit-input-placeholder { 
    color: #000;  
}
.form-control::-moz-placeholder { 
    color: #000;  
}
.form-control:-ms-input-placeholder { 
    color: #000;  
}
.form-control:-moz-placeholder { 
    color: #000;  
}

.navbar-default .navbar-toggle {
    border-color:#00a651;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #00a651;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.page {
    padding-bottom:0;
}

/*Header Area*/

.navbar-default {
    background: #fff;
    border: 0px;
    margin-bottom: 0;
    z-index: 9999;
    width: 100%;
    padding: 5px 0px;
}
.navbar-brand {
    padding: 12px 15px;
}
.nav-right{
    text-align: right;
    margin-top: 14px;
  }
.nav li a, .navbar-default .navbar-nav>li>a {
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    color: #0a0a0a;
    padding: 15px 12px;
    text-transform: uppercase;
}
.nav li a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover, 
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #E0692B !important;
}
.sign-in {
    display: inline;
}
.sign-in li i {
    color: #f26522;
    font-size: 14px;
    margin-right: 5px;
}
.sign-in li {
    display: inline;
}
i.fa.fa-at {
    margin-right: 4px;
}
.nav-right ul li a {
    color: #010101;
    font-size: 14px;
}
/*Hero-area*/
#main {
    background-image: url(../img/slider-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f7f7f7;
}
#bit_exchange_form h3 i {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #34495e;
}
#bit_exchange_form h3 {
    font-size: 22px;
    line-height: 22px;
    color: #7f8c8d;
}
/*testimonial*/
.testimonials {
    font-family: 'Signika Negative', sans-serif;
    background-color: #fff;
    width: 100%;
    padding: 80px 0px;
    margin-bottom: 70px;
    border-radius: 5px;
}

.testimonials .active span.testimonials-name, .testimonials .active span.testimonials-post {
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: .07px;
    line-height: 18px;
}
.testimonials .active p {
    font-size: 17px;
    line-height: 24px;
}
/*terms of service*/
.main-content p.terms-text {
    font-family: arial,verdana;
    font-size: 13.33px;
    margin: 0px;
    padding: 0px 0px 20px;
    border: 0px;
}
.main-content p span {
    padding: 0;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    font-weight: 600;
    font-family: inherit;
    font-style: inherit;
}
/*faq*/
.faq-page {
    margin-bottom: 60px;
}
.panel-heading {
    background-color: #fff !important;
    padding: 20px 25px;
}
.panel-text{
    font-weight: normal;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px;
    color: rgb(102, 102, 102);
}

/*footer*/
#footer {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0 !important;
    height: 60px;
    z-index: 9999;
    -webkit-box-shadow: 1px -1px 20px #ccc;
    -moz-box-shadow: 1px -1px 20px #ccc;
    box-shadow: 1px -1px 20px #c7c1c1;
    border-top: 1px solid #d0cdcd;
}